.heading {
  font-size: 16px;
  padding-right: 12px;
  background-color: #f7f8f8;
  display: flex;
  align-items: center;
  cursor: move;
  border-bottom: 1px solid #ddd;
  height: 60px;
}

.label {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.toggleIcon {
  margin-right: 12px;
  height: 100%;
  width: 60px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modifiedLabel {
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
  margin-right: 10px;
  background-color: #8E24AA;
  padding: 4px;
  border-radius: 2px;
  color: #fff;
}

.copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  font-size: 13px;
  font-weight: 300;
}

.seperator {
  padding-left: 4px;
  padding-right: 4px;
  color: #1E88E5;
  letter-spacing: -1px;
}

.tags {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.tag {
  font-size: 9px;
  font-weight: bold;
  padding: 3px 4px 2px 4px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #aaa;
  text-align: center;
  color: #555;
  text-transform: uppercase;
  margin-left: 3px;
}

.body {
  padding: 6px 20px 20px 20px;
  font-size: 18px;
  display: none;
  border-bottom: 1px solid #ddd;
}

.expandedBody {
  composes: body;
  display: block;
}

.methods {
  padding-top: 16px;
}
